<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
    	<!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">mssdev</property>
        <property name="hibernate.connection.password">123@123a</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        
        <!-- JDBC connection pool -->
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- Disable second level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all excecuted SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <mapping class="org.demo.hibernate.dto.UserDetails"/>
    </session-factory>
</hibernate-configuration>